/* УПРАВЛЕНИЕ И ПОСТОЯННЫЕ НАСТРОЙКИ */

body{
    background-color: #1A1818;
    display: flex;
}

.navigation{
    width: 100vw;
    z-index: 100;
    margin-top: 2.5vw;
    justify-content: space-around;
    display: flex;
    gap: 1vw;
    height: 2vw;
    margin-left: 2vw;
} 

.fairy{
    margin-top: -0.5vw;
}

.logo{
    width: 100%;
}

/* ВЕБ-ФОРМА */

.form-container{
    padding-top: 18vw;
    position: absolute;
    padding-left: 25.5vw;
}

.form-field {
    margin: 10px 0;
    width: 50vw;
}

.form-field input {
    width: 47.3vw;
    padding: 18px;
    border: 1px solid #526B4B;
    border-radius: 3px;
    background-color: #1A1818;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.form-field input::placeholder {
    color: #FFF9EE;
    opacity: 70%;
}

.submit-button {
    background-color: #526B4B;
    color: #ffffff;
    display: flex;
    border: none;
    padding: 18px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    width: 50vw;
    justify-content: center;
    align-items: center;
}

/* СТРАНИЦА 404 */

.img_404{
    /* margin-top: 5vw; */
    padding-top: 16vw;
    position: absolute;
    padding-left: 22vw;
}

.img_404_2{
    position: absolute;
    width: 57vw;
}

/* КНИГА */
p{
    font-family:"inter-Regular";
    font-size: 1.5vw;
}

.button_book{
    margin-top: 5vw;
}

.left_part{
    color: #FFF9EE;
    position: absolute;
    width: 30vw; 
    height: 25vw;
    margin-top: 16vw;
    margin-left: 8vw;
}

.image-container {
    position: absolute;
    width: 30vw; 
    margin-left: 45%;
}

.image-container img {
    width: 50vw;
    height: 25vw;
    position: absolute;
    margin-top: 14vw;
    /* margin-left: -42vw; */
    display: none; 
}

.image-container img.visible {
    display: block; 
}

