/* МЫ */
.h1_we{
    margin-top: 14vw;
    margin-left: 6vw;
    position: absolute;
}

.link {
    text-decoration: none;
    color: #FFF9EE; 
}

.pink {
    color: #FBB1CF;
    text-decoration: underline; 
}

.green {
    color: #526B4B;
    text-decoration: underline; 
}

.content {
    max-width: 60vw;
    margin-top: 23vw;
    margin-left: 5.5vw;
    font-size: 1.8vw;
    text-align: justify;
    position: absolute;
    color: #FFF9EE; 
    font-family:"inter-Regular";
}

.anim{
    position: absolute;
}

/* МАГАЗИН */

.buy_shop1{
    padding-top: 7vw;
    position: absolute;
    padding-left: 1vw;
}

.buy_shop2{
    position: absolute;
    width: 98vw;
}

.buy_backet1{
    padding-top: 116vw;
    position: absolute;
    padding-left: 89vw;
}

.buy_backet2{
    position: absolute;
    width: 7.5vw;
}

.button{
    background-color: #526B4B;
    color: #FFF9EE;
    border: none;
    padding: 0.5vw 2vw;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 0.2vw;
    position: absolute;
}
        
.button:hover {
    background-color: #FFF9EE;
    color: #526B4B;
}

.geo1{
    position: absolute;
    margin-top: 33vw;
    margin-left: -87vw;
}

.geo2{
    position: absolute;
    margin-top: 33vw;
    margin-left: -54vw;
}

.geo3{
    position: absolute;
    margin-top: 33vw;
    margin-left: -20.5vw;
}

.geo4{
    position: absolute;
    margin-top: 71vw;
    margin-left: -87.2vw;
}

.geo5{
    position: absolute;
    margin-top: 71vw;
    margin-left: -53.4vw;
}

.geo6{
    position: absolute;
    margin-top: 71vw;
    margin-left: -20.5vw;
}

.geo7{
    position: absolute;
    margin-top: 109vw;
    margin-left: -87vw;
}

.geo8{
    position: absolute;
    margin-top: 109vw;
    margin-left: -53vw;
}

.geo9{
    position: absolute;
    margin-top: 109vw;
    margin-left: -20.5vw;
}

/* СОБЫТИЯ */
 
.body1{
    background-color: #1A1818;
    display: flex;
}

.gallery-container {
    overflow-x: auto;
    white-space: nowrap;
    border: 2px solid #526B4B;
    border-radius: 8px;
    background: #1A1818;
    padding:15px;
    position: absolute;
    width: 89vw;
    height: 36vw;
    margin: 4vw;
    margin-top: 10.5vw;

}

.gallery-container img {
    display: inline-block;
    width: 25vw;
    margin-right: 10px;
    border-radius: 6px;
    cursor: pointer;
}

.overlay {
    position: fixed;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.popup {
    background: #526B4B;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    z-index: 1001;
    position: absolute;
}

/* ГЛАВНАЯ  */

.gif{
    position: absolute;
    width: 96vw;
    padding-left: 2.5vw;
    padding-top: 3vw;
}